language: go
branches: 
  only: 
    - master
os:
    - linux

addons:
  apt:
    packages:
    - libavformat-dev
    - libavresample-dev
    - libavcodec-dev
    - libswscale-dev
    - libavutil-dev

script:
  - go build
